ARMTemplates/MessageDataTransformation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "AppId": {
            "type": "string",
            "metadata": {
                "description": "The id of the Azure AD Application that has access to the destination Azure Storage Account."
            }
        },
        "AppSecret": {
            "type": "securestring",
            "metadata": {
                "description": "The secret for the Azure AD Application that has access to the destination Azure Storage Account."
            }
        }
    },
    "variables": {
        "destinationAdlsAccountName": "[concat('astore', uniqueString(resourceGroup().id))]",
        "synapseStorageExternalId": "[concat('/subscriptions/', subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Storage/storageAccounts/')]",
        "storageAccountName": "[concat('mgdcsynapse', uniqueString(resourceGroup().id))]",
        "WorkspaceName": "[concat('mgdcwsp', uniqueString(resourceGroup().id))]",
        "sqlServer_name": "[concat('mysqlserver', uniqueString(resourceGroup().id))]",
        "sqlserverAdminPassword": "[concat('P', uniqueString(resourceGroup().id, '224F5A8B-51DB-46A3-A7C8-59B0DD584A41'), 'x', '!')]",
        "factoryId":"[concat('Microsoft.Synapse/workspaces/', variables('WorkspaceName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Resources/deploymentScripts",
            "apiVersion": "2020-10-01",
            "name": "ApplicationScript",
            "location": "[resourceGroup().location]",
            "kind": "AzurePowerShell",
            "properties": {
                "forceUpdateTag": "1",
                "azPowerShellVersion": "3.0",
                "environmentVariables": [
                {
                    "name":"AppSecret",
                    "secureValue": "[parameters('AppSecret')]"
                }
                ],
                "arguments": "[format(' -AppID {0} -TenantId {1} -AppToGet {2}', parameters('AppId'), subscription().tenantId, parameters('AppId'))]",
                "primaryScriptUri": "https://raw.githubusercontent.com/NikCharlebois/dataconnect-solutions/main/ARMTemplates/SupportScripts/GetServicePricipalId.ps1",
                "timeout": "PT30M",
                "cleanupPreference": "OnSuccess",
                "retentionInterval": "P1D",
                "dependsOn": []
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-01-01",
            "name": "[variables('destinationAdlsAccountName')]",
            "location": "eastus2",
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "allowSharedKeyAccess": true,
                "isHnsEnabled": false,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-01-01",
            "name": "[concat(variables('destinationAdlsAccountName'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('destinationAdlsAccountName'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2021-01-01",
            "name": "[concat(variables('destinationAdlsAccountName'), '/default/datasets')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('destinationAdlsAccountName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('destinationAdlsAccountName'))]"
            ],
            "properties": {
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "Container"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
            "apiVersion": "2018-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices/containers', variables('destinationAdlsAccountName'), 'default', 'datasets')]"
            ],
            "name": "[concat(variables('destinationAdlsAccountName'),'/Microsoft.Authorization/',guid(subscription().subscriptionId))]",
            "properties": {
                "roleDefinitionId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Authorization/roleDefinitions/', 'b24988ac-6180-42a0-ab88-20f7382dd24c')]",
                "principalId": "[reference('ApplicationScript').outputs.PrincipalId]"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers/providers/roleAssignments",
            "apiVersion": "2018-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices/containers', variables('destinationAdlsAccountName'), 'default', 'datasets')]"
            ],
            "name": "[concat(variables('destinationAdlsAccountName'), '/default/datasets/Microsoft.Authorization/aff0e9ba-b9c8-47a0-8dfa-0faa2c411d7c')]",
            "properties": {
                "roleDefinitionId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Authorization/roleDefinitions/', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
                "principalId": "[reference('ApplicationScript').outputs.PrincipalId]"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-06-01",
            "name": "[variables('storageAccountName')]",
            "location": "westeurope",
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "isHnsEnabled": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(variables('storageAccountName'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Synapse/workspaces",
            "apiVersion": "2021-06-01",
            "name": "[variables('WorkspaceName')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "defaultDataLakeStorage": {
                    "resourceId": "[concat(variables('synapseStorageExternalId'), variables('storageAccountName'))]",
                    "accountUrl": "[concat('https://', variables('storageAccountName'), '.dfs.core.windows.net')]",
                    "filesystem": "[concat(variables('WorkspaceName'), 'fs')]"
                },
                "encryption": {},
                "connectivityEndpoints": {
                    "web": "[concat('https://web.azuresynapse.net?workspace=%2fsubscriptions%2f', subscription().subscriptionId,'%2fresourceGroups%2f',resourceGroup().id,'%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2f', variables('WorkspaceName'))]",
                    "dev": "[concat('https://', variables('WorkspaceName'), '.dev.azuresynapse.net')]",
                    "sqlOnDemand": "[concat(variables('WorkspaceName'), '-ondemand.sql.azuresynapse.net')]",
                    "sql": "[concat(variables('WorkspaceName'), '.sql.azuresynapse.net')]"
                },
                "managedResourceGroupName": "[concat('synapseworkspace-managedrg-', uniqueString(resourceGroup().id))]",
                "sqlAdministratorLogin": "sqladminuser",
                "privateEndpointConnections": [],
                "publicNetworkAccess": "Enabled"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('storageAccountName'), 'default')]"
            ]
        },
        {
            "type": "Microsoft.Synapse/workspaces/auditingSettings",
            "apiVersion": "2021-06-01",
            "name": "[concat(variables('WorkspaceName'), '/Default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ],
            "properties": {
                "retentionDays": 0,
                "auditActionsAndGroups": [],
                "isStorageSecondaryKeyInUse": false,
                "isAzureMonitorTargetEnabled": false,
                "state": "Disabled",
                "storageAccountSubscriptionId": "00000000-0000-0000-0000-000000000000"
            }
        },
        {
            "type": "Microsoft.Synapse/workspaces/bigDataPools",
            "apiVersion": "2021-06-01",
            "name": "[concat(variables('WorkspaceName'), '/MGDCSParkPool')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ],
            "properties": {
                "creationDate": "2021-12-15T13:50:11.03Z",
                "sparkVersion": "3.1",
                "nodeCount": 0,
                "nodeSize": "Medium",
                "nodeSizeFamily": "MemoryOptimized",
                "autoScale": {
                    "enabled": true,
                    "minNodeCount": 3,
                    "maxNodeCount": 10
                },
                "autoPause": {
                    "enabled": true,
                    "delayInMinutes": 15
                },
                "isComputeIsolationEnabled": false,
                "sessionLevelPackagesEnabled": true,
                "cacheSize": 0,
                "dynamicExecutorAllocation": {
                    "enabled": false
                },
                "provisioningState": "Succeeded"
            }
        },
        {
            "type": "Microsoft.Synapse/workspaces/extendedAuditingSettings",
            "apiVersion": "2021-06-01",
            "name": "[concat(variables('WorkspaceName'), '/Default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ],
            "properties": {
                "retentionDays": 0,
                "auditActionsAndGroups": [],
                "isStorageSecondaryKeyInUse": false,
                "isAzureMonitorTargetEnabled": false,
                "state": "Disabled",
                "storageAccountSubscriptionId": "00000000-0000-0000-0000-000000000000"
            }
        },
        {
            "type": "Microsoft.Synapse/workspaces/firewallRules",
            "apiVersion": "2021-06-01",
            "name": "[concat(variables('WorkspaceName'), '/allowAll')]",
            "dependsOn": [
                "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ],
            "properties": {
                "startIpAddress": "0.0.0.0",
                "endIpAddress": "255.255.255.255"
            }
        },
        {
            "type": "Microsoft.Synapse/workspaces/integrationruntimes",
            "apiVersion": "2021-06-01",
            "name": "[concat(variables('WorkspaceName'), '/AutoResolveIntegrationRuntime')]",
            "dependsOn": [
                "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ],
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve"
                    }
                }
            }
        },
        {
            "name": "[concat(variables('WorkspaceName'), '/ADLSSink')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[concat('https://', variables('destinationAdlsAccountName'), '.dfs.core.windows.net/')]",
                    "tenant": "[subscription().tenantId]",
                    "servicePrincipalId": "[parameters('AppId')]",
                    "servicePrincipalCredentialType": "ServicePrincipalKey",
                    "servicePrincipalCredential": {
                        "type": "SecureString",
                        "value": "[parameters('AppSecret')]"
                    }
                }
            },
            "dependsOn": [
              "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]",
              "[resourceId('Microsoft.Resources/deploymentScripts', 'ApplicationScript')]"
            ]
        },
        {
          "name": "[concat(variables('WorkspaceName'), '/Office365Service')]",
          "type": "Microsoft.DataFactory/factories/linkedServices",
          "apiVersion": "2018-06-01",
          "properties": {
            "annotations": [],
            "type": "Office365",
            "typeProperties": {
              "office365TenantId": "[subscription().tenantId]",
              "servicePrincipalTenantId": "[subscription().tenantId]",
              "servicePrincipalId": "[parameters('AppId')]",
              "servicePrincipalKey": {
                "type": "SecureString",
                "value": "[parameters('AppSecret')]"
              }
            }
          },
          "dependsOn": [
            "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
          ]
        },
        {
            "name": "[concat(variables('WorkspaceName'), '/Office365MessageDataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Office365Service",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Office365Table",
                "schema": [],
                "typeProperties": {
                    "tableName": "BasicDataSet_v0.Message_v1"
                }
            },
            "dependsOn": [
              "Office365Service",
              "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ]
        },        
        {
            "name":"[concat(variables('WorkspaceName'), '/ADLSGen2Dataset')]",
            "type":"Microsoft.DataFactory/factories/datasets",
            "apiVersion":"2018-06-01",
            "properties":{
                "linkedServiceName":{
                    "referenceName":"ADLSSink",
                    "type":"LinkedServiceReference"},
                    "annotations":[],
                    "type":"Binary",
                    "typeProperties":{
                        "location":{
                            "type":"AzureBlobFSLocation",
                            "fileSystem":"extracteddata"
                        }
                    }
                },
            "dependsOn":[                
              "ADLSSink",
              "[resourceId('Microsoft.Synapse/workspaces', variables('WorkspaceName'))]"
            ]
        },
        {
            "name":"[concat(variables('WorkspaceName'), '/MGDC Message Data Transformation')]",
            "type":"Microsoft.DataFactory/factories/pipelines",
            "apiVersion":"2018-06-01",
            "properties":{
                "description":"This pipeline extracts data the messages data from M365 and flattens the same to store the flattened data into SQL",
                "activities":[
                    {
                        "name":"Copy Office 365 Data",
                        "type":"Copy",
                        "dependsOn":[],
                        "policy":{
                            "timeout":"7.00:00:00",
                            "retry":0,
                            "retryIntervalInSeconds":30,
                            "secureOutput":false,
                            "secureInput":false
                        },
                        "userProperties":[],
                        "typeProperties":{
                            "source":{
                                "type":"Office365Source",
                                "dateFilterColumn":{
                                    "value":"@pipeline().parameters.MessagesFilterColumn",
                                    "type":"Expression"
                                },
                                "startTime":{
                                    "value":"@formatDateTime(pipeline().parameters.MessagesFilterStartDate, 'yyyy-MM-ddThh:mm:ss')",
                                    "type":"Expression"
                                },
                                "endTime":{
                                    "value":"@formatDateTime(pipeline().parameters.MessagesFilterEndDate, 'yyyy-MM-ddThh:mm:ss')",
                                    "type":"Expression"
                                },
                                "userScopeFilterUri":"",
                                "outputColumns":[
                                    {
                                        "name":"receivedDateTime"
                                    },
                                    {
                                        "name":"sentDateTime"
                                    },
                                    {
                                        "name":"hasAttachments"
                                    },
                                    {
                                        "name":"internetMessageId"
                                    },
                                    {
                                        "name":"subject"
                                    },
                                    {
                                        "name":"sender"
                                    },
                                    {
                                        "name":"from"
                                    },
                                    {
                                        "name":"toRecipients"
                                    },
                                    {
                                        "name":"ccRecipients"
                                    },
                                    {
                                        "name":"bccRecipients"
                                    },
                                    {
                                        "name":"isRead"
                                    },
                                    {
                                        "name":"isDraft"
                                    },
                                    {
                                        "name":"id"
                                    }
                                ]
                            },
                            "sink":{
                                "type":"BinarySink",
                                "storeSettings":{
                                    "type":"AzureBlobFSWriteSettings"
                                    }
                                },
                                "enableStaging":false
                            },
                            "inputs":[
                                {
                                    "referenceName":"Office365MessageDataset",
                                    "type":"DatasetReference",
                                    "parameters":{}
                                }
                            ],
                            "outputs":[
                                {
                                    "referenceName":"ADLSGen2Dataset",
                                    "type":"DatasetReference",
                                    "parameters":{}
                                }
                            ]
                        },
                        {
                            "name":"Flatten Email Dataset",
                            "type":"ExecuteDataFlow",
                            "dependsOn":[
                                {
                                    "activity":"Copy Office 365 Data",
                                    "dependencyConditions":["Succeeded"]
                                }
                            ],
                            "policy":{
                                "timeout":"1.00:00:00",
                                "retry":0,
                                "retryIntervalInSeconds":30,
                                "secureOutput":false,
                                "secureInput":false
                            },
                            "userProperties":[],
                            "typeProperties":{
                                "dataflow":{
                                    "referenceName":"Flattening Data Flow",
                                    "type":"DataFlowReference",
                                    "parameters":{
                                        "SQLSinkSchema":{
                                            "value":"'@{pipeline().parameters.SQLSchema}'",
                                            "type":"Expression"
                                        },
                                        "SQLSinkTableName":{
                                            "value":"'@{pipeline().parameters.SQLTableName}'",
                                            "type":"Expression"
                                        }
                                    },
                                    "datasetParameters":{
                                        "OutputFromOfficeCopyActivity":{},
                                        "FlattenedOutput":{}
                                    },
                                    "linkedServiceParameters":{
                                        "FlattenedOutput":{
                                            "linkedService":{
                                                "SQLDBName":{
                                                    "value":"@pipeline().parameters.SQLDBName",
                                                    "type":"Expression"
                                                },
                                                "SQLDomainName":{
                                                    "value":"@pipeline().parameters.SQLDomainName",
                                                    "type":"Expression"
                                                }
                                            }
                                        }
                                    }
                                },
                                "staging":{},
                                "compute":{
                                    "coreCount":8,
                                    "computeType":"General"
                                },
                                "traceLevel":"Fine"
                            }
                        }
                    ],
                    "policy":{
                        "elapsedTimeMetric":{},
                        "cancelAfter":{}
                    },
                    "parameters":{
                        "SQLSchema":{
                            "type":"string",
                            "defaultValue":"Email"
                        },
                        "SQLTableName":{
                            "type":"string",
                            "defaultValue":"EmailData"
                        },
                        "MessagesFilterStartDate":{
                            "type":"string",
                            "defaultValue":"2022-07-01T00:00:00Z"
                        },
                        "MessagesFilterEndDate":{
                            "type":"string",
                            "defaultValue":"2022-07-31T00:00:00Z"
                        },
                        "MessagesFilterColumn":{
                            "type":"string",
                            "defaultValue":"sentDateTime"
                        },
                        "SQLDomainName":{
                            "type":"string",
                            "defaultValue":"flatteneddata.database.windows.net"
                        },
                        "SQLDBName":{
                            "type":"string",
                            "defaultValue":"flatteneddata"
                        }
                    },
                    "annotations":[],
                    "lastPublishTime":"2022-08-17T02:06:23Z"
                },
                "dependsOn":[
                    "ADLSGen2Dataset",
                    "[concat(variables('factoryId'), '/dataflows/Flattening Data Flow')]"
                ]
            },
            {
                "name":"[concat(variables('WorkspaceName'), '/Flattening Data Flow')]",
                "type":"Microsoft.DataFactory/factories/dataflows",
                "apiVersion":"2018-06-01",
                "properties":{
                    "description":"This data flow flattens the messages dataset expanding the to and cc recipients.",
                    "type":"MappingDataFlow",
                    "typeProperties":{
                        "sources":[
                            {
                                "linkedService":{
                                    "referenceName":"ADLSSink",
                                    "type":"LinkedServiceReference"
                                },
                                "name":"OutputFromOfficeCopyActivity"
                            }
                        ],
                        "sinks":[
                            {
                                "linkedService":{
                                    "referenceName":"mySampleDatabase",
                                    "type":"LinkedServiceReference"
                                },
                                "name":"FlattenedOutput"
                            }
                        ],
                        "transformations":[
                            {
                                "name":"FlattenToRecipients"
                            },
                            {
                                "name":"FlattenCCRecipients"
                            }
                        ],
                        "scriptLines":[
                            "parameters{","     SQLSinkSchema as string,","     SQLSinkTableName as string","}","source(output(","          AllRows as string,","          BootstrapUsers as string,","          CompleteUsers as string,","          DataFactoryName as string,","          EndDate as string,","          Endpoint as string,","          Error as string,","          ErrorUsers as string,","          ExtractionEndTime as string,","          ExtractionStartTime as string,","          IncompleteDate as string,","          IsBootstrapUser as string,","          IsSuccessfulUser as string,","          JobEndDate as string,","          JobId as string,","          JobStartDate as string,","          MaxExtractionEndTimeUtc as string,","          ODataType as string,","          PartialUsers as string,","          StartDate as string,","          TotalRows as string,","          TotalUsers as string,","          UserId as string,","          WasDropped as string,","          bccRecipients as string[],","          ccRecipients as (emailAddress as (address as string, name as string))[],","          datarow as short,","          from as (emailAddress as (address as string, name as string)),","          hasAttachments as boolean,","          id as string,","          internetMessageId as string,","          isDraft as boolean,","          isRead as boolean,","          pAdditionalInfo as string,","          pagerow as short,","          ptenant as string,","          puser as string,","          receivedDateTime as timestamp,","          rowinformation as (errorInformation as string, isUserSummaryRow as boolean, userHasCompleteData as boolean, userReturnedNoData as boolean),","          sender as (emailAddress as (address as string, name as string)),","          sentDateTime as timestamp,","          subject as string,","          toRecipients as (emailAddress as (address as string, name as string))[],","          userrow as short","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false,","     format: 'json',","     fileSystem: 'extracteddata',","     documentForm: 'documentPerLine') ~> OutputFromOfficeCopyActivity","OutputFromOfficeCopyActivity foldDown(unroll(toRecipients, toRecipients),","     mapColumn(","          ccRecipients,","          from = from.emailAddress.address,","          hasAttachments,","          id,","          internetMessageId,","          isDraft,","          isRead,","          ptenant,","          puser,","          receivedDateTime,","          sender = sender.emailAddress.address,","          sentDateTime,","          subject,","          toRecipients = toRecipients.emailAddress.address","     ),","     skipDuplicateMapInputs: false,","     skipDuplicateMapOutputs: false) ~> FlattenToRecipients","FlattenToRecipients foldDown(unroll(ccRecipients, ccRecipients),","     mapColumn(","          ccRecipients = ccRecipients.emailAddress.address,","          from,","          hasAttachments,","          id,","          internetMessageId,","          isDraft,","          isRead,","          ptenant,","          puser,","          receivedDateTime,","          sender,","          sentDateTime,","          subject,","          toRecipients","     ),","     skipDuplicateMapInputs: false,","     skipDuplicateMapOutputs: false) ~> FlattenCCRecipients","FlattenCCRecipients sink(allowSchemaDrift: true,","     validateSchema: false,","     format: 'table',","     store: 'sqlserver',","     schemaName: 'Email',","     tableName: 'EmailData',","     insertable: true,","     updateable: false,","     deletable: false,","     upsertable: false,","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError') ~> FlattenedOutput"
                        ]
                    }
                },
                "dependsOn":[]
            },
        {
            "type": "Microsoft.Sql/servers",
            "apiVersion": "2021-11-01-preview",
            "name": "[variables('sqlServer_name')]",
            "location": "eastus",
            "kind": "v12.0",
            "properties": {
                "administratorLogin": "azureuser",
                "administratorLoginPassword": "[variables('sqlserverAdminPassword')]",
                "version": "12.0",
                "minimalTlsVersion": "1.2",
                "publicNetworkAccess": "Enabled",
                "restrictOutboundNetworkAccess": "Disabled"
            }
        },
        {
            "type": "Microsoft.Sql/servers/connectionPolicies",
            "apiVersion": "2021-11-01-preview",
            "name": "[concat(variables('sqlServer_name'), '/default')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Sql/servers', variables('sqlServer_name'))]"
            ],
            "properties": {
                "connectionType": "Default"
            }
        },
        {
            "type": "Microsoft.Sql/servers/databases",
            "apiVersion": "2021-11-01-preview",
            "name": "[concat(variables('sqlServer_name'), '/mySampleDatabase')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Sql/servers', variables('sqlServer_name'))]"
            ],
            "sku": {
                "name": "GP_S_Gen5",
                "tier": "GeneralPurpose",
                "family": "Gen5",
                "capacity": 1
            },
            "kind": "v12.0,user,vcore,serverless",
            "properties": {
                "collation": "SQL_Latin1_General_CP1_CI_AS",
                "maxSizeBytes": 34359738368,
                "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
                "zoneRedundant": false,
                "readScale": "Disabled",
                "autoPauseDelay": 60,
                "requestedBackupStorageRedundancy": "Geo",
                "minCapacity": 0.5,
                "maintenanceConfigurationId": "/subscriptions/30a81c99-6121-40ba-99d7-ac674961cd7e/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
                "isLedgerOn": false,
                "sampleName": "AdventureWorksLT"
            }
        }
    ]
}
