solutions/conversation-lineage/arm/End2EndMgdc101WithConvLineage_support_live/pipeline/PrepareUsersData.json
{
    "name": "PrepareUsersData",
    "properties": {
        "activities": [
            {
                "name": "GetStorageAccountKey",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "<key_vault_endpoint>secrets/storageAccountKey?api-version=7.0",
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "SetStorageAccountKey",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetStorageAccountKey",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "storageAccountKey",
                    "value": {
                        "value": "@activity('GetStorageAccountKey').output.value",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "GetJdbcUsername",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "<key_vault_endpoint>secrets/jdbcUsername?api-version=7.0",
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "SetJbcUsername",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetJdbcUsername",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "jdbcUsername",
                    "value": {
                        "value": "@activity('GetJdbcUsername').output.value",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "GetJdbcPassword",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "<key_vault_endpoint>secrets/jdbcPassword?api-version=7.0",
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "SetJbcPassword",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetJdbcPassword",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "jdbcPassword",
                    "value": {
                        "value": "@activity('GetJdbcPassword').output.value",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "DeleteOldManagersBlobData",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "M365ManagerBlob",
                        "type": "DatasetReference"
                    },
                    "logStorageSettings": {
                        "linkedServiceName": {
                            "referenceName": "blobstorage_linkedservice",
                            "type": "LinkedServiceReference"
                        },
                        "path": {
                            "value": "@concat('logs/', pipeline().RunId, '/cleanup-logs/', pipeline().Pipeline)",
                            "type": "Expression"
                        }
                    },
                    "enableLogging": true,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "DeleteOldUsersProfilesBlobData",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "M365UserProfileBlob",
                        "type": "DatasetReference"
                    },
                    "logStorageSettings": {
                        "linkedServiceName": {
                            "referenceName": "blobstorage_linkedservice",
                            "type": "LinkedServiceReference"
                        },
                        "path": {
                            "value": "@concat('logs/', pipeline().RunId, '/cleanup-logs/', pipeline().Pipeline)",
                            "type": "Expression"
                        }
                    },
                    "enableLogging": true,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "M365ManagersToAZBS",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "DeleteOldManagersBlobData",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "Office365Source",
                        "userScopeFilterUri": "",
                        "outputColumns": [
                            {
                                "name": "accountEnabled"
                            },
                            {
                                "name": "ageGroup"
                            },
                            {
                                "name": "assignedLicenses"
                            },
                            {
                                "name": "assignedPlans"
                            },
                            {
                                "name": "businessPhones"
                            },
                            {
                                "name": "city"
                            },
                            {
                                "name": "companyName"
                            },
                            {
                                "name": "consentProvidedForMinor"
                            },
                            {
                                "name": "country"
                            },
                            {
                                "name": "createdDateTime"
                            },
                            {
                                "name": "department"
                            },
                            {
                                "name": "displayName"
                            },
                            {
                                "name": "givenName"
                            },
                            {
                                "name": "id"
                            },
                            {
                                "name": "imAddresses"
                            },
                            {
                                "name": "jobTitle"
                            },
                            {
                                "name": "legalAgeGroupClassification"
                            },
                            {
                                "name": "mail"
                            },
                            {
                                "name": "mailNickname"
                            },
                            {
                                "name": "mobilePhone"
                            },
                            {
                                "name": "officeLocation"
                            },
                            {
                                "name": "onPremisesImmutableId"
                            },
                            {
                                "name": "onPremisesLastSyncDateTime"
                            },
                            {
                                "name": "onPremisesSecurityIdentifier"
                            },
                            {
                                "name": "onPremisesSyncEnabled"
                            },
                            {
                                "name": "passwordPolicies"
                            },
                            {
                                "name": "postalCode"
                            },
                            {
                                "name": "preferredLanguage"
                            },
                            {
                                "name": "provisionedPlans"
                            },
                            {
                                "name": "proxyAddresses"
                            },
                            {
                                "name": "state"
                            },
                            {
                                "name": "streetAddress"
                            },
                            {
                                "name": "surname"
                            },
                            {
                                "name": "usageLocation"
                            },
                            {
                                "name": "userPrincipalName"
                            },
                            {
                                "name": "userType"
                            }
                        ]
                    },
                    "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "M365_Manager",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "M365ManagerBlob",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "M365UserProfilesToAZBS",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "DeleteOldUsersProfilesBlobData",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "Office365Source",
                        "userScopeFilterUri": "",
                        "outputColumns": [
                            {
                                "name": "aboutMe"
                            },
                            {
                                "name": "accountEnabled"
                            },
                            {
                                "name": "ageGroup"
                            },
                            {
                                "name": "assignedLicenses"
                            },
                            {
                                "name": "assignedPlans"
                            },
                            {
                                "name": "birthday"
                            },
                            {
                                "name": "businessPhones"
                            },
                            {
                                "name": "city"
                            },
                            {
                                "name": "companyName"
                            },
                            {
                                "name": "consentProvidedForMinor"
                            },
                            {
                                "name": "country"
                            },
                            {
                                "name": "createdDateTime"
                            },
                            {
                                "name": "department"
                            },
                            {
                                "name": "displayName"
                            },
                            {
                                "name": "givenName"
                            },
                            {
                                "name": "hireDate"
                            },
                            {
                                "name": "id"
                            },
                            {
                                "name": "imAddresses"
                            },
                            {
                                "name": "interests"
                            },
                            {
                                "name": "jobTitle"
                            },
                            {
                                "name": "legalAgeGroupClassification"
                            },
                            {
                                "name": "mail"
                            },
                            {
                                "name": "mailNickname"
                            },
                            {
                                "name": "mobilePhone"
                            },
                            {
                                "name": "mySite"
                            },
                            {
                                "name": "officeLocation"
                            },
                            {
                                "name": "onPremisesImmutableId"
                            },
                            {
                                "name": "onPremisesLastSyncDateTime"
                            },
                            {
                                "name": "onPremisesSecurityIdentifier"
                            },
                            {
                                "name": "onPremisesSyncEnabled"
                            },
                            {
                                "name": "passwordPolicies"
                            },
                            {
                                "name": "pastProjects"
                            },
                            {
                                "name": "postalCode"
                            },
                            {
                                "name": "preferredLanguage"
                            },
                            {
                                "name": "preferredName"
                            },
                            {
                                "name": "provisionedPlans"
                            },
                            {
                                "name": "proxyAddresses"
                            },
                            {
                                "name": "responsibilities"
                            },
                            {
                                "name": "schools"
                            },
                            {
                                "name": "skills"
                            },
                            {
                                "name": "state"
                            },
                            {
                                "name": "streetAddress"
                            },
                            {
                                "name": "surname"
                            },
                            {
                                "name": "usageLocation"
                            },
                            {
                                "name": "userPrincipalName"
                            },
                            {
                                "name": "userType"
                            }
                        ]
                    },
                    "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "M365_User_Profile",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "M365UserProfileBlob",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "TruncateUsersTable",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "M365UserProfilesToAZBS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "M365ManagersToAZBS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "preCopyScript": "TRUNCATE TABLE users",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "M365UsersTableDedicatedSQLdb",
                        "type": "DatasetReference",
                        "parameters": {
                            "users_table_name": "users"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "M365UsersTableDedicatedSQLdb",
                        "type": "DatasetReference",
                        "parameters": {
                            "users_table_name": "users"
                        }
                    }
                ]
            },
            {
                "name": "JoinUsersWithManagers",
                "type": "SynapseNotebook",
                "dependsOn": [
                    {
                        "activity": "SetJbcPassword",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "SetJbcUsername",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "TruncateUsersTable",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "SetStorageAccountKey",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebook": {
                        "referenceName": "JoinUsersAndManagers",
                        "type": "NotebookReference"
                    },
                    "parameters": {
                        "storageAccountKey": {
                            "value": {
                                "value": "@variables('storageAccountKey')",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "usersInputContainer": {
                            "value": "mgdc101-employee-profiles",
                            "type": "string"
                        },
                        "storageAccountName": {
                            "value": "mgdc101storage",
                            "type": "string"
                        },
                        "usersInputFolderPath": {
                            "value": "m365_users_json",
                            "type": "string"
                        },
                        "managerInputContainer": {
                            "value": "managers",
                            "type": "string"
                        },
                        "managerInputFolderPath": {
                            "value": "m365_managers_json",
                            "type": "string"
                        },
                        "jdbcHostname": {
                            "value": "mgdc101synapse.sql.azuresynapse.net",
                            "type": "string"
                        },
                        "jdbcPort": {
                            "value": "1433",
                            "type": "int"
                        },
                        "jdbcDatabase": {
                            "value": "SynapseDedicatedSqlPool",
                            "type": "string"
                        },
                        "jdbcUsername": {
                            "value": {
                                "value": "@variables('jdbcUsername')",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "jdbcPassword": {
                            "value": {
                                "value": "@variables('jdbcPassword')",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    },
                    "snapshot": true
                }
            }
        ],
        "parameters": {
            "batchStartTime": {
                "type": "string",
                "defaultValue": "01/01/2020 00:00:00"
            },
            "batchEndTime": {
                "type": "string",
                "defaultValue": "01/01/2022 00:00:00"
            }
        },
        "variables": {
            "users_table_name": {
                "type": "String",
                "defaultValue": "users"
            },
            "emails_table_name": {
                "type": "String",
                "defaultValue": "flattened_emails"
            },
            "augmented_emails_table_name": {
                "type": "String",
                "defaultValue": "augmented_emails"
            },
            "storageAccountKey": {
                "type": "String"
            },
            "jdbcUsername": {
                "type": "String"
            },
            "jdbcPassword": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-07-08T10:19:02Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}