solutions/conversation-lineage/arm/End2EndMgdc101WithConvLineage/pipeline/PrepareEmailsData.json
{
    "name": "PrepareEmailsData",
    "properties": {
        "activities": [
            {
                "name": "Get Storage Account Key",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "<key_vault_endpoint>secrets/storageAccountKey?api-version=7.0",
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Set Storage Account Key",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get Storage Account Key",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "storageAccountKey",
                    "value": {
                        "value": "@activity('Get Storage Account Key').output.value",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "M365 Emails To AZBS",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Delete Old Emails JSON Data",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "Office365Source",
                        "dateFilterColumn": "ReceivedDateTime",
                        "startTime": {
                            "value": "@pipeline().parameters.batchStartTime",
                            "type": "Expression"
                        },
                        "endTime": {
                            "value": "@pipeline().parameters.batchEndTime",
                            "type": "Expression"
                        },
                        "userScopeFilterUri": "",
                        "outputColumns": [
                            {
                                "name": "ReceivedDateTime"
                            },
                            {
                                "name": "SentDateTime"
                            },
                            {
                                "name": "HasAttachments"
                            },
                            {
                                "name": "InternetMessageId"
                            },
                            {
                                "name": "Subject"
                            },
                            {
                                "name": "Importance"
                            },
                            {
                                "name": "ParentFolderId"
                            },
                            {
                                "name": "Sender"
                            },
                            {
                                "name": "From"
                            },
                            {
                                "name": "ToRecipients"
                            },
                            {
                                "name": "CcRecipients"
                            },
                            {
                                "name": "BccRecipients"
                            },
                            {
                                "name": "ReplyTo"
                            },
                            {
                                "name": "ConversationId"
                            },
                            {
                                "name": "UniqueBody"
                            },
                            {
                                "name": "IsDeliveryReceiptRequested"
                            },
                            {
                                "name": "IsReadReceiptRequested"
                            },
                            {
                                "name": "IsRead"
                            },
                            {
                                "name": "IsDraft"
                            },
                            {
                                "name": "WebLink"
                            },
                            {
                                "name": "CreatedDateTime"
                            },
                            {
                                "name": "LastModifiedDateTime"
                            },
                            {
                                "name": "ChangeKey"
                            },
                            {
                                "name": "Categories"
                            },
                            {
                                "name": "Id"
                            },
                            {
                                "name": "Attachments"
                            }
                        ]
                    },
                    "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "M365_Emails",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "M365EmailsBlob",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Delete Old Emails JSON Data",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "M365EmailsBlob",
                        "type": "DatasetReference"
                    },
                    "logStorageSettings": {
                        "linkedServiceName": {
                            "referenceName": "blobstorage_linkedservice",
                            "type": "LinkedServiceReference"
                        },
                        "path": {
                            "value": "@concat('logs/', pipeline().RunId, '/cleanup-logs/', pipeline().Pipeline)",
                            "type": "Expression"
                        }
                    },
                    "enableLogging": true,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Delete Old Emails Parquet Data",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "M365 Emails To AZBS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "M365EmailsParquet",
                        "type": "DatasetReference"
                    },
                    "logStorageSettings": {
                        "linkedServiceName": {
                            "referenceName": "blobstorage_linkedservice",
                            "type": "LinkedServiceReference"
                        },
                        "path": {
                            "value": "@concat('logs/', pipeline().RunId, '/cleanup-logs/', pipeline().Pipeline)",
                            "type": "Expression"
                        }
                    },
                    "enableLogging": true,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Flatten Emails By ToCcBcc Recipients",
                "type": "SynapseNotebook",
                "dependsOn": [
                    {
                        "activity": "Set Storage Account Key",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Delete Old Emails Parquet Data",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebook": {
                        "referenceName": "ExplodeEmailsByRecipients",
                        "type": "NotebookReference"
                    },
                    "parameters": {
                        "storageAccountKey": {
                            "value": {
                                "value": "@variables('storageAccountKey')",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "inputContainer": {
                            "value": "mgdc101-emails",
                            "type": "string"
                        },
                        "storageAccountName": {
                            "value": "<storageAccountName>",
                            "type": "string"
                        },
                        "inputFolderPath": {
                            "value": "m365_emails_json",
                            "type": "string"
                        },
                        "outputContainer": {
                            "value": "mgdc101-emails",
                            "type": "string"
                        },
                        "outputFolderPath": {
                            "value": "m365_emails_parquet",
                            "type": "string"
                        }
                    },
                    "snapshot": true
                }
            },
            {
                "name": "Copy Emails To Table",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Flatten Emails By ToCcBcc Recipients",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "wildcardFileName": "*.parquet",
                            "enablePartitionDiscovery": false
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "preCopyScript": "TRUNCATE TABLE flattened_emails",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "Id",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Id",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "CreatedDateTime",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "CreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "LastModifiedDateTime",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "LastModifiedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "InternetMessageId",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "InternetMessageId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Subject",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Subject",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsReadReceiptRequested",
                                    "type": "Boolean",
                                    "physicalType": "BOOLEAN"
                                },
                                "sink": {
                                    "name": "IsReadReceiptRequested",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsRead",
                                    "type": "Boolean",
                                    "physicalType": "BOOLEAN"
                                },
                                "sink": {
                                    "name": "IsRead",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsDraft",
                                    "type": "Boolean",
                                    "physicalType": "BOOLEAN"
                                },
                                "sink": {
                                    "name": "IsDraft",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "WebLink",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "WebLink",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sender",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Sender",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sender_Name",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Sender_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "From",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "From",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "From_Name",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "From_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ContentType",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "ContentType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Content",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Content",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Recipient",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Recipient",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "RecipientName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "RecipientName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "RecipientType",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "RecipientType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ODataType",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "ODataType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "puser",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "puser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ptenant",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "ptenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "datarow",
                                    "type": "Int32",
                                    "physicalType": "INT32"
                                },
                                "sink": {
                                    "name": "datarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "userrow",
                                    "type": "Int32",
                                    "physicalType": "INT32"
                                },
                                "sink": {
                                    "name": "userrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "pagerow",
                                    "type": "Int32",
                                    "physicalType": "INT32"
                                },
                                "sink": {
                                    "name": "pagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "M365EmailsParquet",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "M365EmailsTableDedicatedSQLdb",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Compute Recipient Email Domains",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Augment Flattened Emails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT DISTINCT\nSUBSTRING(e.[Recipient], CHARINDEX('@', e.[Recipient]), LEN(e.[Recipient])) as RecipientDomain \nFROM augmented_flattened_emails e",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "RecipientDomain",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Domain",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DedicatedSqlPoolDB",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "RecipientEmailDomains",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Augment Flattened Emails",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Copy Emails To Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "@{concat('with Internal_email_domains (EmailDomain) \nAS\n(\n    SELECT DISTINCT SUBSTRING(u.mail, CHARINDEX(''@'', u.mail), LEN(u.mail)) FROM users u WHERE u.mail IS NOT NULL\n)\nSELECT DISTINCT \ne.Id,\ne.CreatedDateTime, \ne.LastModifiedDateTime, \ne.InternetMessageId, \ne.Subject, \ne.IsReadReceiptRequested, \ne.IsRead, \ne.IsDraft,\ne.WebLink, \ne.Sender, \ne.Sender_Name, \ne.[From],\ne.From_Name, \ne.ContentType, \n[dbo].[udf_StripHTML](e.Content) As Content,\ne.Recipient,\ne.RecipientName,\ne.RecipientType, \ne.ODataType, \ne.puser as emai_puser, \ne.ptenant as email_ptenant, \ne.datarow as email_datarow, \ne.userrow as email_userrow, \ne.pagerow as email_pagerow, \nu.aboutMe as SenderAboutMe,  \nu.birthday as SenderBirthday,   \nu.hireDate as SenderHireDate,  \nu.mySite as SenderMySite,  \nu.preferredName as SenderPreferredName,  \nu.accountEnabled as SenderAccountEnabled,  \nu.city as SenderCity,  \nu.companyName as SenderCompanyName,   \nu.country as SenderCountry,  \nu.createdDateTime as SenderCreatedDateTime,  \nISNULL(u.department, ''N/A'') as SenderDepartment,  \nu.displayName as SenderDisplayName,  \nu.givenName as SenderGivenName,  \nu.id as SenderId,  \nu.jobTitle as SenderJobTitle,  \nu.mail as SenderMail,  \nu.officeLocation as SenderOfficeLocation,  \nu.onPremisesImmutableId as SenderOnPremisesImmutableId,  \nu.postalCode as SenderPostalCode,  \nu.preferredLanguage as SenderPreferredLanguage,  \nu.state as SenderState,  \nu.streetAddress as SenderStreetAddress,  \nu.surname as SenderSurname,  \nu.usageLocation as SenderUsageLocation,  \nu.userPrincipalName as SenderUserPrincipalName,  \nu.userType as SenderUserType,  \nu.puser as SenderPuser ,  \nu.ptenant as SenderPtenant,  \nu.pAdditionalInfo as SenderPAdditionalInfo,  \nu.datarow as SenderDatarow,  \nu.userrow as SenderUserrow,  \nu.pagerow as SenderPagerow,\nISNULL(u.reportsTo, ''-'') as SenderReportsTo,\nu.managerEmail as SenderManagerEmail,\nuser_recipient_with_manager.managerEmail as RecipientManagerEmail,\nISNULL(user_recipient_with_manager.reportsTo, ''-'') as RecipientReportsTo\n, CAST(CASE WHEN SUBSTRING(e.[Recipient], CHARINDEX(''@'', e.[Recipient]), LEN(e.[Recipient]))   NOT IN (SELECT EmailDomain FROM Internal_email_domains) THEN 1 ELSE 0 END AS BIT) as IsExternalEmail \n, CAST(CASE WHEN e.Recipient = u.managerEmail THEN 1 ELSE 0 END AS BIT) as MailToManager \n, CAST(CASE WHEN user_recipient_with_manager.managerEmail = e.[From] THEN 1 ELSE 0 END AS BIT) as MailToSubordinate\n, '  , '''' , pipeline().parameters.batchEndTime, '''' ,' as Version \nFROM flattened_emails e  JOIN users u \non e.[From] = u.mail AND u.mail is not null\nLEFT JOIN users user_recipient_with_manager ON e.Recipient = user_recipient_with_manager.mail')}",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "SqlPoolSink"
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "Id",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Id",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "CreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "CreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "LastModifiedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "LastModifiedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "InternetMessageId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "InternetMessageId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Subject",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Subject",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsReadReceiptRequested",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsReadReceiptRequested",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsRead",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsRead",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsDraft",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsDraft",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "WebLink",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "WebLink",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sender",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Sender",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sender_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Sender_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "From",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "From",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "From_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "From_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ContentType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ContentType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Content",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Content",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Recipient",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Recipient",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "RecipientName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "RecipientName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "RecipientType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "RecipientType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ODataType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ODataType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "emai_puser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "emai_puser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_ptenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "email_ptenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_datarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "email_datarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_userrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "email_userrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_pagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "email_pagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderAboutMe",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderAboutMe",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderBirthday",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderBirthday",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderHireDate",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "SenderHireDate",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderMySite",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderMySite",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPreferredName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPreferredName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderAccountEnabled",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "SenderAccountEnabled",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCity",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderCity",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCompanyName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderCompanyName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCountry",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderCountry",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "SenderCreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderDepartment",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderDepartment",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderDisplayName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderDisplayName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderGivenName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderGivenName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderJobTitle",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderJobTitle",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderMail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderMail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderOfficeLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderOfficeLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderOnPremisesImmutableId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderOnPremisesImmutableId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPostalCode",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPostalCode",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPreferredLanguage",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPreferredLanguage",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderState",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderState",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderStreetAddress",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderStreetAddress",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderSurname",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderSurname",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUsageLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderUsageLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUserPrincipalName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderUserPrincipalName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUserType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderUserType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPuser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPuser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPtenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPtenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPAdditionalInfo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPAdditionalInfo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderDatarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "SenderDatarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUserrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "SenderUserrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "SenderPagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsExternalEmail",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsExternalEmail",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "MailToManager",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "MailToManager",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "MailToSubordinate",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "MailToSubordinate",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderReportsTo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderReportsTo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderManagerEmail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderManagerEmail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "RecipientManagerEmail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "RecipientManagerEmail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "RecipientReportsTo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "RecipientReportsTo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Version",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Version",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DedicatedSqlPoolDB",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "AugmentedFlattenedEmailsTable",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Aggregate Augmented Emails",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Augment Flattened Emails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "@{concat('select\nfe.[Id]\n,fe.[CreatedDateTime]\n,fe.[LastModifiedDateTime]\n,fe.[InternetMessageId]\n,fe.[Subject]\n,fe.[IsReadReceiptRequested]\n,fe.[IsRead]\n,fe.[IsDraft]\n,fe.[WebLink]\n,fe.[Sender]\n,fe.[Sender_Name]\n,fe.[From]\n,fe.[From_Name]\n,fe.[ContentType]\n,[dbo].[udf_StripHTML](fe.[Content]) As Content\n,fe.[ODataType]\n,fe.[emai_puser]\n,fe.[email_ptenant]\n,fe.[email_datarow]\n,fe.[email_userrow]\n,fe.[email_pagerow]\n,fe.[SenderAboutMe]\n,fe.[SenderBirthday]\n,fe.[SenderHireDate]\n,fe.[SenderMySite]\n,fe.[SenderPreferredName]\n,fe.[SenderAccountEnabled]\n,fe.[SenderCity]\n,fe.[SenderCompanyName]\n,fe.[SenderCountry]\n,fe.[SenderCreatedDateTime]\n,ISNULL(fe.[SenderDepartment], ''N/A'') as SenderDepartment\n,fe.[SenderDisplayName]\n,fe.[SenderGivenName]\n,fe.[SenderId]\n,fe.[SenderJobTitle]\n,fe.[SenderMail]\n,fe.[SenderOfficeLocation]\n,fe.[SenderOnPremisesImmutableId]\n,fe.[SenderPostalCode]\n,fe.[SenderPreferredLanguage]\n,fe.[SenderState]\n,fe.[SenderStreetAddress]\n,fe.[SenderSurname]\n,fe.[SenderUsageLocation]\n,fe.[SenderUserPrincipalName]\n,fe.[SenderUserType]\n,fe.[SenderPuser]\n,fe.[SenderPtenant]\n,fe.[SenderPAdditionalInfo]\n,fe.[SenderDatarow]\n,fe.[SenderUserrow]\n,fe.[SenderPagerow]\n,ISNULL(fe.[SenderReportsTo], ''-'') as SenderReportsTo\n,fe.[SenderManagerEmail],\nagg_email.InternetMessageId,\nagg_email.ToNames,\nagg_email.ToAddresses,\nagg_email.CcNames,\nagg_email.CcAddresses,\nagg_email.BccNames,\nagg_email.BccAddresses,\nCAST(CASE agg_email.IsExternalEmail WHEN 1 THEN 1 ELSE 0 END AS BIT) As IsExternalEmail,\nCAST(CASE agg_email.MailToManager WHEN 1 THEN 1 ELSE 0 END AS BIT) As MailToManager,\nCAST(CASE agg_email.MailToSubordinate WHEN 1 THEN 1 ELSE 0 END AS BIT) As MailToSubordinate\n  from (select\n    InternetMessageId,\n      string_agg(CASE WHEN RecipientType = ''To'' THEN cast([RecipientName] as [varchar](max))  ELSE NULL END ,'', '') As ToNames,\nstring_agg(CASE WHEN RecipientType = ''To'' THEN cast([Recipient] as [varchar](max)) ELSE NULL END ,'', '') As ToAddresses,\nstring_agg(CASE WHEN RecipientType = ''Cc'' THEN cast([RecipientName] as [varchar](max)) ELSE NULL END ,'', '') As CcNames,\nstring_agg(CASE WHEN RecipientType = ''Cc'' THEN cast([Recipient] as [varchar](max)) ELSE NULL END ,'', '') As CcAddresses,\nstring_agg(CASE WHEN RecipientType = ''Bcc'' THEN cast([RecipientName] as [varchar](max)) ELSE NULL END ,'', '') As BccNames,\nstring_agg(CASE WHEN RecipientType = ''Bcc'' THEN cast([Recipient] as [varchar](max)) ELSE NULL END ,'', '') As BccAddresses,\nMAX(CONVERT(tinyint,IsExternalEmail)) IsExternalEmail,\nMAX(CONVERT(tinyint,MailToManager)) MailToManager,\nMAX(CONVERT(tinyint,MailToSubordinate)) MailToSubordinate\n  FROM augmented_flattened_emails\n  where Version = ', '''',  pipeline().parameters.batchEndTime, '''' , '\n  group by [InternetMessageId]) as agg_email\n  CROSS APPLY\n  (SELECT TOP (1)\n    [Id]\n    ,[CreatedDateTime]\n,[LastModifiedDateTime]\n,[InternetMessageId]\n,[Subject]\n,[IsReadReceiptRequested]\n,[IsRead]\n,[IsDraft]\n,[WebLink]\n,[Sender]\n,[Sender_Name]\n,[From]\n,[From_Name]\n,[ContentType]\n,[Content]\n,[Recipient]\n,[RecipientName]\n,[RecipientType]\n,[ODataType]\n,[emai_puser]\n,[email_ptenant]\n,[email_datarow]\n,[email_userrow]\n,[email_pagerow]\n,[SenderAboutMe]\n,[SenderBirthday]\n,[SenderHireDate]\n,[SenderMySite]\n,[SenderPreferredName]\n,[SenderAccountEnabled]\n,[SenderCity]\n,[SenderCompanyName]\n,[SenderCountry]\n,[SenderCreatedDateTime]\n,[SenderDepartment]\n,[SenderDisplayName]\n,[SenderGivenName]\n,[SenderId]\n,[SenderJobTitle]\n,[SenderMail]\n,[SenderOfficeLocation]\n,[SenderOnPremisesImmutableId]\n,[SenderPostalCode]\n,[SenderPreferredLanguage]\n,[SenderState]\n,[SenderStreetAddress]\n,[SenderSurname]\n,[SenderUsageLocation]\n,[SenderUserPrincipalName]\n,[SenderUserType]\n,[SenderPuser]\n,[SenderPtenant]\n,[SenderPAdditionalInfo]\n,[SenderDatarow]\n,[SenderUserrow]\n,[SenderPagerow]\n,[SenderReportsTo]\n,[SenderManagerEmail]\nFROM [dbo].[augmented_flattened_emails] where InternetMessageId = agg_email.InternetMessageId) fe;')}",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "Id",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Id",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "CreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "CreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "LastModifiedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "LastModifiedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "InternetMessageId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "InternetMessageId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Subject",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Subject",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsReadReceiptRequested",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsReadReceiptRequested",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsRead",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsRead",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsDraft",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsDraft",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "WebLink",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "WebLink",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sender",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Sender",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sender_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Sender_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "From",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "From",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "From_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "From_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ContentType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ContentType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Content",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Content",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ODataType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ODataType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "emai_puser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "emai_puser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_ptenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "email_ptenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_datarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "email_datarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_userrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "email_userrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "email_pagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "email_pagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderAboutMe",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderAboutMe",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderBirthday",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderBirthday",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderHireDate",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "SenderHireDate",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderMySite",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderMySite",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPreferredName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPreferredName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderAccountEnabled",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "SenderAccountEnabled",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCity",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderCity",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCompanyName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderCompanyName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCountry",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderCountry",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderCreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                },
                                "sink": {
                                    "name": "SenderCreatedDateTime",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderDepartment",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderDepartment",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderDisplayName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderDisplayName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderGivenName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderGivenName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderJobTitle",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderJobTitle",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderMail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderMail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderOfficeLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderOfficeLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderOnPremisesImmutableId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderOnPremisesImmutableId",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPostalCode",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPostalCode",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPreferredLanguage",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPreferredLanguage",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderState",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderState",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderStreetAddress",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderStreetAddress",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderSurname",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderSurname",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUsageLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderUsageLocation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUserPrincipalName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderUserPrincipalName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUserType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderUserType",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPuser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPuser",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPtenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPtenant",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPAdditionalInfo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderPAdditionalInfo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderDatarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "SenderDatarow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderUserrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "SenderUserrow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderPagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "SenderPagerow",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderReportsTo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderReportsTo",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SenderManagerEmail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "SenderManagerEmail",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ToAddresses",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ToAddresses",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "CcAddresses",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "CCAddresses",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "BccAddresses",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "BCCAddresses",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ToNames",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ToNames",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "CcNames",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "CCNames",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "BccNames",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "BCCNames",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "IsExternalEmail",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "IsExternalEmail",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "MailToManager",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "MailToManager",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "MailToSubordinate",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "MailToSubordinate",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DedicatedSqlPoolDB",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "AugmentedEmailsTableDedicatedPool",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "parameters": {
            "batchStartTime": {
                "type": "string",
                "defaultValue": "2020-01-01T00:00:00Z"
            },
            "batchEndTime": {
                "type": "string",
                "defaultValue": "2022-01-01T00:00:00Z"
            }
        },
        "variables": {
            "users_table_name": {
                "type": "String",
                "defaultValue": "users"
            },
            "emails_table_name": {
                "type": "String",
                "defaultValue": "flattened_emails"
            },
            "augmented_emails_table_name": {
                "type": "String",
                "defaultValue": "augmented_emails"
            },
            "storageAccountKey": {
                "type": "String"
            },
            "jdbcUsername": {
                "type": "String"
            },
            "jdbcPassword": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-07-09T08:11:04Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}